<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>company-name</param-name>
        <param-value>XYZ Ltd.</param-value>
    </context-param>
    <context-param>
        <param-name>head-office</param-name>
        <param-value>Indore</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>mypkg.Starthandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>A</servlet-name>
        <servlet-class>First</servlet-class>
        <init-param>
            <param-name>admin-name</param-name>
            <param-value>Smith</param-value>
        </init-param>
        <init-param>
            <param-name>admin-mobile</param-name>
            <param-value>9826020084</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>C</servlet-name>
        <servlet-class>Third</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProducts</servlet-name>
        <servlet-class>ShowProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>ShowUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>A</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>B</servlet-name>
        <servlet-class>Second</servlet-class>
        <init-param>
            <param-name>meeting-place</param-name>
            <param-value>Mumbai</param-value>
        </init-param>
        <init-param>
            <param-name>meeting-date</param-name>
            <param-value>30-June-2019</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>B</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C</servlet-name>
        <url-pattern>/Trial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProducts</servlet-name>
        <url-pattern>/ShowProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/ShowUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
